<ul class="nav nav-tabs mt-3 justify-content-center">
    <li class="nav-item">
        <a class="nav-link" routerLink="viewbike" routerLinkActive="active">View Bikes</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="addnewbike" routerLinkActive="active">Add New Bikes</a>
    </li>


</ul>
<div class="container">
    <router-outlet></router-outlet>
</div>




















<!-- <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 mt-5 mb-5">
    <div class="col" *ngFor="let bikeObj of bikes">
        <app-product-details [productObj]=bikeObj></app-product-details>
    </div>
</div>  -->